body {
  background-color:#000;
  color:#fff;
  -ms-overflow-style: scrollbar;
  -webkit-app-region:drag;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="text"],
button,
textarea {
  -webkit-app-region: no-drag;
}

h1, h2, h3, h4, h5, h6 {
    -webkit-user-select: none;
}

button:active {
  transform:scale(.95);
}


button:focus,button:active {
   outline: none !important;
   border:none;
   box-shadow:0px;
}

i, button {
  color:#fff;
}

.logo {
  display:block;
  margin:0px auto;
  margin-top:50px;
}

h1, h4 {
  text-align:center;
}

h4 {
  margin-top:30px;
}

.hide {
  display:none;
}

#loading {
  margin-top:50px;
  margin-left:-20px;
}

#loading.hide {
  display:block;
}

#loading.show {
  display:none;
}

#left:before {
  content:'\f0d9';
  font-family: 'FontAwesome';
}

#right:before {
  font-family: 'FontAwesome';
  content: "\f0da";
}

#up,#down {
  width:100%;
}

#home {
  border-radius:10px;
  padding:10px 15px;
  margin-top:84px;
}

#up {
  height: 1.5em;
  border-radius: 10px 10px 0px 0px;
  padding: 0px 15px;
  width:inherit;
}

#left {
  height: 1.5em;
  border-radius: 10px 0px 0px 10px;
  padding: 0px 15px;
}

#right {
  height: 1.5em;
  border-radius: 0px 10px 10px 0px;
  padding: 0px 15px;
}

#down {
  height: 1.5em;
  border-radius: 0px 0px 10px 10px;
  padding: 0px 15px;
  width:inherit;
}

.controls #up, .controls #down {
  height:1.5em;
}

.controls {
  text-align:center;
  float:left;
  width:45%;
  margin-left:10%;
  margin-top:-.6em;
}


.apps {
  width:95%;
  margin-left:1.5%;
  margin-top:50px;
  float:left;
}

.apps h3 {
  margin-left:20px;
}

.controls button {
  text-align: center;
}

#left, #right {
  width:33.3%;
  float:left;
}

#up:before {
    font-family: FontAwesome;
    content: "\f0d8";
}

#down:before {
  font-family: FontAwesome;
  content:'\f0d7';
}

#rewind:before {
    font-family: FontAwesome;
    content: "\f049";
}

#rewind {
  border-radius:10px 0px 0px 10px;
}

#fastforward {
  border-radius:0px 15px 15px 0px;
  padding:15px
}

#fastforward:before {
  font-family: FontAwesome;
  content:'\f050';
}

#play:before {
  font-family: FontAwesome;
  content:'\f04b';
}

#rewind, #fastforward, #play {
  margin-top:40px;
  width: 33%;
  font-size: 1.5em;
  float: left;
  padding:15px
}


.volumes {
  width:33%;
  float:left;
  text-align: center;
  margin-left:5%;
}

.volumes #up {
  font-family: FontAwesome;
    content: "\f0d8";
}

#home:before {
  font-family: FontAwesome;
  content:'\f015';
  margin-left:-2px;
}

#select:before {
  content:'Select';
}

#select {
  color: #fff;
  font-size: 18px;
  margin-top: 0px;
  float: left;
  background-color:#661485;
  padding:19px 0px;
  text-transform: uppercase;
}

#down {
  margin-top:-1px;
}

.app {
  text-transform: uppercase;
  font-size:12px !important;
  background-color:#661485 !important;
  color:#fff;
  padding:5px 8px;
  border-radius:10px;
  width:30%;
  margin-left:3.2%;
  float:left;
  height:5em;
  margin-bottom:10px;
  word-wrap:break-word;
}


.button {
  border:none;
  background-color:transparent;
  font-size:40px;
  background-color:#661485;
}